

{#{dump()}#}



<div class="massKauta clearfix">
    <style type="text/css">

    .itemKauta{

        font-weight: bold;

        border: 3px #ccc solid;
        border-radius: 6px;

        padding: 2px 5px 2px 5px;
        margin-top: 3px;
        margin-left: 3px !important;

        //width: 25px !important;
        text-align: center;
		
		width:50px;
		height:30px;
		
		display:block;
		float:left;



        cursor: pointer;

        user-select: none;
        -moz-user-select: none;

    }

    .itemKauta:hover{

        border: 3px #F00 solid;
    }

    .selectKauta{
        background: rgba(255,0,0,0.3);
    }
</style>

<h1 style="">Каюты теплохода «{{cruise.ship.name}}» </h1>
<div class="" style="margin-bottom: 10px;">{{cruise.startDate | date("d.m.Y")}} - {{cruise.endDate | date("d.m.Y")}} {{cruise.name}}</div>

<input class="cruise_id" type="hidden" value="{{cruise.id}}">
{% for room in rooms %}
	<span data-room-id="{{room.id}}" class="itemKauta {% if room.discount %}selectKauta{% endif %} ">{{room.number}}</span>
{% endfor %}

</div>

