

{% for monthName , month in months %}

<h2>{{monthName | localizeddate('full', 'none', null, null, ' LLLL Y')}}</h2>
<table class="table table-cruises  table-striped">
<colgroup>
<col width="310">
<col width="120">
<col width="75" align="center">
<col width="35" align="center">
<col width="75" align="center">
<col width="10">
</colgroup>
<tbody>
<tr>
  <th>Маршрут</th>
  <th>Теплоход</th>
  <th>Отправление</th>
  <th>Дней</th>
  <th>Цена от</th>
  <th>&nbsp;</th>
</tr>
{% for cruise in month %}
	<tr>
		<td> <a href="{{path('cruisedetail',{'id':cruise.id})}}">{{cruise.name}}</a></td>
		
		<td> <a href="{{path('page',{'url':'ships/'~cruise.ship.code})}}">{{cruise.ship.name}}</a></td>
		<td> {{cruise.startDate | date("d.m.Y")}}</td>
		<td> <b>{{cruise.dayCount}}</b></td>
		<td>  
		{% if cruise.newMinPrice is defined %}
		<span style=" text-decoration:line-through;">{{cruise.minPrice | number_format(0, '.', ' ' ) }} руб.</span>
		<br>
		<span style="color:red">{{cruise.newMinPrice | number_format(0, '.', ' ' ) }} руб.</span>
		{% else %}
		<span >{{cruise.minPrice | number_format(0, '.', ' ' ) }} руб.</span>
		{% endif %}</td>

        <td style="">
		
		{% if cruise.typeDiscount %}
		
			{% if (cruise.typeDiscount.id == 1) %}<span class="table-special-span color-gk">«Счастливый» круиз</span>{% endif %}

			{% if (cruise.typeDiscount.id == 2) %} <span class="table-special-span color-st">Специальный тариф</span> {% endif %}
		
		{% endif %}
		
		</td>
	</tr>
{% endfor %}
</tbody>	
</table>

{% endfor %}