{% extends 'basemanager.html.twig' %}

{% block body %}

<script src="{{asset('/admin/js/develplatform.editable.select.js')}}"></script>

{{ form_start(form) }}


<div class="row">
	<div class="col-sm-4">{{ form_row(form.agency) }}</div>
	<div class="col-sm-4">{{ form_row(form.date_month) }}</div>
	<div class="col-sm-4">{{ form_row(form.date_year) }}</div>
</div>

{{ form_end(form) }}


<a href="{{path('manager_agency_report')}}"></a>


<button class="btn btn-success" id="report">Отчёт агента</button>

<button class="btn btn-success" id="act">Акт агента</button>


<button class="btn btn-success" id="reportSales">Отчёт по продажам за месяц</button>
<button class="btn btn-success" id="reportSalesAgency">Отчёт по продажам за месяц агентства</button>
<button class="btn btn-success" id="reportSalesAgencyMonth">Отчёт по продажам за месяц выбранного агентства</button>
<button class="btn btn-success" id="reportSalesFiz">Отчёт по продажам за месяц физики</button>

	
{% endblock %}


{% block javascriptsready %}

	$('#reportSalesAgencyMonth').click(function(){
		agency_id = $('#form_agency option:selected').val();
		date_month = $('#form_date_month option:selected').val();
		date_year = $('#form_date_year option:selected').val();
		url = "{{path('manager_agency_report_sales')}}" + "?agency_id=" + agency_id + "&date_year=" + date_year + "&date_month=" + date_month + '&buyer=agency';
		window.open(url,'_blank');	
	});

	$('#reportSalesAgency').click(function(){
		
		date_month = $('#form_date_month option:selected').val();
		date_year = $('#form_date_year option:selected').val();
		url = "{{path('manager_agency_report_sales')}}" + "?date_year=" + date_year + "&date_month=" + date_month + '&buyer=agency';
		window.open(url,'_blank');	
	});

	$('#reportSalesFiz').click(function(){
		
		date_month = $('#form_date_month option:selected').val();
		date_year = $('#form_date_year option:selected').val();
		url = "{{path('manager_agency_report_sales')}}" + "?date_year=" + date_year + "&date_month=" + date_month + '&buyer=fiz';
		window.open(url,'_blank');	
	});

	$('#reportSales').click(function(){
		
		date_month = $('#form_date_month option:selected').val();
		date_year = $('#form_date_year option:selected').val();
		url = "{{path('manager_agency_report_sales')}}" + "?date_year=" + date_year + "&date_month=" + date_month + '&buyer=all';
		window.open(url,'_blank');	
	});
	
	$('#report').click(function(){
		agency_id = $('#form_agency option:selected').val();
		date_month = $('#form_date_month option:selected').val();
		date_year = $('#form_date_year option:selected').val();
		url = "{{path('manager_agency_report')}}" + "?agency_id=" + agency_id + "&date_year=" + date_year + "&date_month=" + date_month;
		window.open(url,'_blank');	
	});
	
	$('#act').click(function(){
		agency_id = $('#form_agency option:selected').val();
		date_month = $('#form_date_month option:selected').val();
		date_year = $('#form_date_year option:selected').val();
		url = "{{path('manager_agency_act')}}" + "?agency_id=" + agency_id + "&date_year=" + date_year + "&date_month=" + date_month;
		window.open(url,'_blank');	
	});
	
	
	$(function () {
            $("#form_agency").editableSelect();
        });
	
{% endblock %}	