{% extends 'basemanager.html.twig' %}

{% block body %}

<style>
.table th , .table td  {
	text-align:right;
}
</style>

<table class="table">
	<tr>
		<th>Покупатель</th>
		<th>Номер заказа</th>
		<th>Сумма со скидкой</th>
		<th>Комиссия</th>
		<th>процент Речному Агентству</th>
		<th>Комиссия Речному Агентству</th>
		<th>Прибыль</th>
	</tr>
{% for item in items %}	
	
	{% set buyer = item.order.agency != null ? item.order.agency.name : item.order.buyer %}
	<tr>
		<td>{{buyer}}</td>
		<td>{{item.orderId}}</td>
		<td>{{item.priceDiscount | number_format(2, ',', ' ')}}</td>
		<td>{{item.feeSumm | number_format(2, ',', ' ')}}</td>
		<td>{{item.feeRechPercent}}</td>
		<td>{{item.feeRech | number_format(2, ',', ' ')}}</td>
		<td>{{item.profit | number_format(2, ',', ' ')}}</td>
	</tr>
	
{% endfor %}

	<tr>
		<th></th>
		<th></th>
		<th>{{itogo.priceDiscount | number_format(2, ',', ' ')}}</th>
		<th>{{itogo.feeSumm | number_format(2, ',', ' ')}}</th>
		<th></th>
		<th>{{itogo.feeRech | number_format(2, ',', ' ')}}</th>
		<th>{{itogo.profit | number_format(2, ',', ' ')}}</th>
	</tr>
	<tr>
		<th></th>
		<th>Номер заказа</th>
		<th>Сумма со скидкой</th>
		<th>Комиссия</th>
		<th>процент Речному Агентству</th>
		<th>Комиссия Речному Агентству</th>
		<th>Прибыль</th>
	</tr>	
</table>
	
{% endblock %}