<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="{% block description %}Речные круизы из Москвы. Круизы по Волге. «Речное агентство».{% endblock %}">
    <meta name="keywords" content="{% block keywords %}речные круизы, Москва, туры на теплоходе, круизы выходного дня, круизы по Волге, круизы по рекам, отдых на теплоходах{% endblock %}">

	<meta content="width=device-width,initial-scale=1" name=viewport>
	
    <title>{% block title %}Речные круизы из Москвы. Круизы по Волге. «Речное агентство».{% endblock %}</title>


{% stylesheets 
output="css/styles.css" 

'css/bootstrap.min.css'  
'css/bootstrap-slider.css' 
'css/style.css' 
'css/fancybox/jquery.fancybox.css' 

filter='yui_css'
  %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

</head>
{% spaceless %}
<body>
{% block admin %}{% endblock %}
{% if is_granted("ROLE_MANAGER") %}
<div class="navbar navbar-inverse ">
	<div class="navbar-inner">
        <div class="container">
			<div class="navbar-form pull-right">
              
              <a  href="{{ path('manager_invoices') }}" class="btn btn-primary"  >Заявки</a>
              <a  href="{{ path('manager_turs') }}" class="btn btn-primary"  >Туры</a>
            </div>
        </div>
    </div>	
</div>
{% endif %}

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
        <div class="container header-volna" style="padding-top:30px; position:relative;">
            <a  href="{{path('homepage')}}"><img style=" margin-top:-25px; max-width:100%" src="{{asset('images/template/logo.png')}}" alt="Речное агентство"></a>

			<div class="hidden-sm" style="position:absolute; right:400px; top:30px; " >
			<a class="navbar-brand navbar-right hidden-xs" style="font-size: 24px;" href="{{path('page',{'url':'contacts'})}}">Контакты:</a>
			</div>
			
			<div style="position:absolute; right:205px; top:3px; line-height:20px;" class="hidden-xs" >
			
					
			<span style="color:#fff;">
				Москва<br>
				<span style="float:right;text-align:right;">
				Тел: <a style="color:#fff; font-size:12px;"  href="tel:84956498371">8 (495) <span style="font-size:150%">649-83-71</span></a>
				<br>
				<a style="color:#fff; font-size:12px;" href="tel:84956982967">8 (495) <span style="font-size:150%">698-29-67</span></a>			
				</span>
				<br>

				Санкт-Петербург<br>
				<span style="float:right;text-align:right;">
				Тел: <a style="color:#fff; font-size:12px;"  href="tel:84956498371">8 (812) <span style="font-size:150%">67-03-700</span></a>
		
				</span>
			</span>
			
			<!--
			<a class="navbar-brand" href="tel:84956498371">8 (495) <span style="font-size:150%">649-83-71</span></a>
			<br>
			<a class="navbar-brand" href="tel:84956982967">8 (495) <span style="font-size:150%">698-29-67</span></a>
			-->
			</div>
			
			<div class="hidden-xs" style="position:absolute; right:30px; top:15px; "  >
			<a target="_blank" href="https://vk.com/club139724356"><img style="width:33px; margin-right:10px;" src="{{asset('images/template/VK.png')}}"  alt="Вконтакте"></a>
			
			<a target="_blank" href="https://www.ok.ru/group/53065077883088"><img style="width:33px; margin-right:10px;" src="{{asset('images/template/OK.png')}}"  alt="instagram"></a>			
			<a target="_blank" href="https://instagram.com/rechagent"><img style="width:33px; margin-right:0px;" src="{{asset('images/template/inst.png')}}"  alt="instagram"></a>
			
			</div>
			
			<div class="hidden-xs" style="position:absolute; right:45px; top:60px; "  >

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                
				<a href="{{path('fos_user_profile_show')}}">{{app.user.username}}</a><br>
                <a class="" href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
               <a style="color:#fff; font-weight:400;" href="{{ path('fos_user_security_login') }}">ВОЙТИ<br>(регистрация)</a>
            {% endif %}					
			
			</div>
			

			
			
        </div>
        <!-- /.container -->
        <div class="container ">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                
				<div style="position:absolute; left:0%; top:90px; " class="visible-xs" >
				<a class="navbar-brand" style="padding:0 0 0 15px; height:30px;" href="tel:84952223344">8 (495) <span style="font-size:100%">649-83-71</span></a>
				<br>
				<a class="navbar-brand" style="padding:0 0 0 15px; height:30px;" href="tel:84952223344">8 (495) <span style="font-size:100%">698-29-67</span></a>
				</div>		

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
			
			
			
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">	
				{{ render(controller('BaseBundle:Menu:getMenu')) }}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

{% block carousel%}{% endblock %}

<div class="container-fluid container-search">
	<div class="row">
		<div class="container">
			<div class="row">

				<div class="col-sm-12">					

				{{ render(controller('CruiseBundle:Search:searchForm')) }}

				</div>			

			</div>
		</div>	
	</div>	
</div>



{#
<div class="container">
	<br>
	<div class="col-sm-12 alert alert-danger ">		
		<p class="text-center">
		<strong>
			11 января офис продаж работает с 15:00 до 19:00
		</strong>
		</p>	
	</div>	
</div>
#}

<div class="container">
	<div class="row">
	{% block breadcrumbs %}
	<div class="breadcrumbs">{{render(controller('BaseBundle:BreadCrumbs:index'))}}</div>
	{% endblock %}
	
		<div class="col-sm-12">					
		{% block body %}
			Block body
		{% endblock %}	
		</div>
	</div>
</div>	
<br>

<div class="footer">
          <div class="container ">
			<div class="row">
				<div class="col-sm-12" itemscope="" itemtype="https://schema.org/Organization" >
				1997-2017 <span itemprop="name">ВАШЕ РЕЧНОЕ АГЕНТСТВО</span><br>
				
				<span itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
				<span itemprop="addressLocality">Москва</span>,  <span itemprop="streetAddress">ул.Никольская, д 4/5, офис 403</span>.
				

				Телефон <span itemprop="telephone">+7 (495) 649-83-71</span>, <span itemprop="telephone">+7 (495) 698-29-67</span>  E-mail: <a itemprop="email" href="mailto:info@rech-agent.ru">info@rech-agent.ru</a> <br>
				</span>
				<span itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress">
				<span itemprop="addressLocality">Санкт-Петербург</span>, <span itemprop="streetAddress">Каменноостровский проспект, д. 40, офис 501</span> 
				Телефон: <span itemprop="telephone">+7 (812) 67-03-700</span>  E-mail: <a itemprop="email" href="mailto:spb@rech-agent.ru">spb@rech-agent.ru</a>
				<br></span>
				Информация на сайте не является публичной офёртой и носит информационный характер. 
				</div>
			</div>
		  </div>
</div>




<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter36501512 = new Ya.Metrika({
                    id:36501512,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/36501512" style="position:absolute; left:-9999px;" alt="яндекс счётчик" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83988997-1', 'auto');
  ga('send', 'pageview');

</script>



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	
	
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>	
	<!-- Latest compiled and minified JavaScript -->
	<script src="{{ asset('js/bootstrap.min.js') }}"></script>

{% javascripts 

output="js/js.js" 

'js/bootstrap-slider.js' 
'js/jquery.fancybox.js'
 filter='yui_js'

 %}
    <script src="{{ asset_url }}"></script>
    
{% endjavascripts %}

		<script>
			window.onload = function() {
				$('.carousel').carousel({
					interval: 5000 //changes the speed
				})
				$("#days").slider({});
				$('.photo').fancybox();
			{% block javascriptsonload %}{% endblock %}	
			}
		</script>	
	
{% block javascript %}
{% endblock %}
<script async type="text/javascript" src="/web/bundles/ivoryckeditor/ckeditor.js"></script>	

</body>{% endspaceless %}

</html>
