{% extends '::base.html.twig' %}

{% block body %}

{{dump(order)}}

{#% for room in rooms %}
	<span style="padding:10px; margin:5px;">{{room.number}}</span>
{% endfor %#}

<h3>Теплоход «{{order.cruise.ship.name}}»  с {{order.cruise.startDate | date("d.m.Y")}} по {{order.cruise.endDate | date("d.m.Y")}}  <br>«{{order.cruise.name}}»</h3>





{% if order.user.agency != null %}
<p> Заказ создал: 
	{% if order.user.firstName != "" %}
		{{order.user.lastName}} {{order.user.firstName}} {{order.user.fatherName}}
	{% else %}
		{{order.user.username}}	
	{% endif %}	
	
	«{{order.user.agency.name}}»
</p>	
{% endif %}



{{ form_start(form) }}

{% if ((form.buyer is defined) and (form.agency is defined)) %}
<ul class="nav nav-tabs">
  <li {% if order.agency == null %}class="active"{% endif %}><a data-toggle="tab" href="#fiz">Покупатель</a></li>
  <li {% if order.agency != null %}class="active"{% endif %}><a data-toggle="tab" href="#ur">Агентство</a></li>
</ul>
{% endif %}


<div class="tab-content">
  <div id="fiz" class="tab-pane fade {% if order.agency == null %}in active{% endif %}">
{% if form.buyer is defined %}
		<h3>Покупатель</h3>
		<div class="row">
			<div class="col-sm-2"><p style="text-align:right;">ФИО</p></div>
			<div class="col-sm-3">{{ form_widget(form.buyer.lastName, { 'attr':{'placeholder':'Фамилия'}}) }}</div>			
			<div class="col-sm-3">{{ form_widget(form.buyer.name, { 'attr':{'placeholder':'Имя'}}) }}</div>
			<div class="col-sm-3">{{ form_widget(form.buyer.fatherName, { 'attr':{'placeholder':'Отчество'}}) }}</div>
			<div class="col-sm-1"></div>
		</div>
		<div class="row" style="margin-top:10px">
			<div class="col-sm-2"><p style="text-align:right;">Дата рождения<p></div>
			<div class="col-sm-2">{{ form_widget(form.buyer.birthday, { 'attr':{'placeholder':'Дата рождения'}}) }}</div>	
			<div class="col-sm-1">Паспорт</div>			
			<div class="col-sm-2">{{ form_widget(form.buyer.passSeria, { 'attr':{'placeholder':'Серия'}}) }}</div>
			<div class="col-sm-2">{{ form_widget(form.buyer.passNum, { 'attr':{'placeholder':'Номер'}}) }}</div>
			<div class="col-sm-2">{{ form_widget(form.buyer.passDate, { 'attr':{'placeholder':'Дата'}}) }}</div>
			<div class="col-sm-1"></div>
			
		</div>
		<div class="row" style="margin-top:10px">
			<div class="col-sm-2"><p style="text-align:right;">Кем выдан</p></div>
			<div class="col-sm-9">{{ form_widget(form.buyer.passWho, { 'attr':{'placeholder':'Кем выдан'}}) }}</div>	

			<div class="col-sm-1"></div>
			
		</div>
		<div class="row" style="margin-top:10px">
			<div class="col-sm-2"><p style="text-align:right;">Телефон<p></div>
			<div class="col-sm-3">{{ form_widget(form.buyer.phone, { 'attr':{'placeholder':'Телефон'}}) }}</div>	
			<div class="col-sm-2"><p style="text-align:right;">Email</p></div>			
			<div class="col-sm-3">{{ form_widget(form.buyer.email, { 'attr':{'placeholder':'email'}}) }}</div>

			<div class="col-sm-2"><a href="{{path('invoice_user',{'id':order.id})}}" class="btn btn-success">Счёт покупателя</a></div>
			
		</div>		
		
		
{% endif %}
  </div>
  <div id="ur" class="tab-pane fade {% if order.agency != null %}in active{% endif %}">
{% if form.agency is defined %}
{{form_row(form.agency, {'label':'Агентство'}) }}
{% endif %}
  </div>
</div>


{% if form.sesonDiscount is defined %}
{{ form_row(form.sesonDiscount, {'label':'Сезонная скидка'}) }}
{% endif %}

{% if form.permanentRequest is defined %}
{{ form_row(form.permanentRequest, {'label':'Запрос на скидку постоянного клиента'}) }}
<p style="color:red;"><i>Оплата онлайн будет возможна после подтверждения скидки менеджером.</i></p>
{% else %}
{% if form.vars.data.permanentRequest %} <p><b>Есть запрос на скидку постоянного клиента</b></p> {% endif %}
{% endif %}

{% if form.permanentDiscount is defined %}
{{ form_row(form.permanentDiscount, {'label':'Скидка постоянного клиента'}) }}
{% endif %}

{% if form.fee is defined %}
{{ form_row(form.fee, {'label':'Коммиссия'}) }}
{% endif %}

<h3>Каюты:</h3>

{% for orderItem in form.orderItems %}
 <div style="border:1px solid #aaa; margin-bottom:10px;">
   
	<div class="col-xs-12">
		<p {% if orderItem.vars.data.typeDiscount != null %} style="color:red" {% endif %}><b>Каюта № {{orderItem.vars.data.room.number}} {{ orderItem.vars.data.room.cabin.type.name }}</b></p>
	</div>
	
	
	{% for i, orderItemPlace in orderItem.orderItemPlaces %}
		<div style="border:1px solid #aaa;">
		<div class="col-xs-12">
			<p><b>Место {{i+1}}</b></p>
		</div>
		<div class="row">
			<div class="col-sm-2"><p style="text-align:right;">ФИО</p></div>
			<div class="col-sm-3">{{ form_widget(orderItemPlace.lastName, { 'attr':{'placeholder':'Фамилия'}}) }}</div>			
			<div class="col-sm-3">{{ form_widget(orderItemPlace.name, { 'attr':{'placeholder':'Имя'}}) }}</div>
			<div class="col-sm-3">{{ form_widget(orderItemPlace.fatherName, { 'attr':{'placeholder':'Отчество'}}) }}</div>
			<div class="col-sm-1"></div>
		</div>
		<div class="row" style="margin-top:10px">
			<div class="col-sm-2"><p style="text-align:right;">Дата рождения<p></div>
			<div class="col-sm-2">{{ form_widget(orderItemPlace.birthday, { 'attr':{'placeholder':'Дата рождения'}}) }}</div>	
			<div class="col-sm-1">Паспорт</div>			
			<div class="col-sm-2">{{ form_widget(orderItemPlace.passSeria, { 'attr':{'placeholder':'Серия'}}) }}</div>
			<div class="col-sm-2">{{ form_widget(orderItemPlace.passNum, { 'attr':{'placeholder':'Номер'}}) }}</div>
			<div class="col-sm-2">{{ form_widget(orderItemPlace.passDate, { 'attr':{'placeholder':'Дата'}}) }}</div>
			<div class="col-sm-1"></div>
			
		</div>
		<div class="row" style="margin-top:10px">
			<div class="col-sm-2"><p style="text-align:right;">Кем выдан</p></div>
			<div class="col-sm-9">{{ form_widget(orderItemPlace.passWho, { 'attr':{'placeholder':'Кем выдан'}}) }}</div>	

			<div class="col-sm-1"></div>
			
		</div>
		<div class="row" style="margin-top:10px; margin-bottom:10px;">

			<div class="col-sm-2">
				<p style="text-align:right;">Тариф</p>
				
			</div>
			<div class="col-sm-4">
				
				{% set discountValue = 0 %}
				{% if orderItemPlace.vars.data.orderItem.typeDiscount != null %}
				
					{% set discountValue = orderItemPlace.vars.data.orderItem.typeDiscount.value %}
	
				{% endif %}
				
				
				
				{{ form_widget(orderItemPlace.price, {'attr':{'data-discount':discountValue, 'class':'tariff-price' }}) }}
				

				
			</div>
			
			<div class="col-sm-4">
				{% if orderItemPlace.vars.data.orderItem.typeDiscount != null %}
					<span style="color:red;">Цена со скидкой <span class="tariff-price-value"></span></span>
				{% endif %}			
			</div>
			
		</div>
		
		
		
		
		</div>
	{% endfor %}
</div>	
{% endfor %}


{% if form.commentManager is defined %}
{{ form_row(form.commentManager, {'label':'Комментарий Менеджера'}) }}
{% endif %}

{% if form.commentUser is defined %}
{{ form_row(form.commentUser, {'label':'Комментарий Пользователя'}) }}
{% endif %}


{{ form_row(form.submit, {'label':'Сохранить'}) }}

{{ form_end(form) }}


{% if (order.user.agency == null) and (allow_pay) %}
	<a href="{{path('pay',{'id':order.id})}}" class="btn-success btn">Оплатить</a>
{% endif %}

{% endblock %}


{% block javascriptsonload %}
	$('.tariff-price').change(function(){
		discount = $(this).attr('data-discount');
		if( discount > 0)
		{
			price = $(this).find('option:selected').attr('data-price');
			price_discount = price * (100- discount) / 100;
			span_price = $(this).parent().parent().find('.tariff-price-value');
			span_price.text(price_discount);
		}

	});
	
	$('.tariff-price').trigger('change');

{% endblock %}	

