{% extends '::base.html.twig' %}

{% block body %}

{#{dump(orderPrice)}#}

{#% for room in rooms %}
	<span style="padding:10px; margin:5px;">{{room.number}}</span>
{% endfor %#}


<h3>Заявка №{{order.id}}</h3>


<h3>Теплоход «{{order.cruise.ship.name}}»  с {{order.cruise.startDate | date("d.m.Y")}} по {{order.cruise.endDate | date("d.m.Y")}}  <br><a href="{{path('cruisedetail',{'id':order.cruise.id})}}">«{{order.cruise.name}}»</a></h3>





{% if (order.user.agency != null) or (is_granted('ROLE_MANAGER')) %}
<p> Заказ создал: 
	{% if order.user.firstName != "" %}
		{{order.user.lastName}} {{order.user.firstName}} {{order.user.fatherName}}
	{% else %}
		{{order.user.username}}	
	{% endif %}	
	{% if (order.user.agency != null) %}
	«{{order.user.agency.name}}»  {{order.user.agency.phone}}
	{% endif %}
</p>	
{% endif %}



{{ form_start(form) }}

{% if ((form.buyer is defined) and (form.agency is defined)) %}
<ul class="nav nav-tabs">
  <li {% if order.agency == null %}class="active"{% endif %}><a data-toggle="tab" href="#fiz">Покупатель</a></li>
  <li {% if order.agency != null %}class="active"{% endif %}><a data-toggle="tab" href="#ur">Агентство</a></li>
</ul>
{% endif %}


<div class="tab-content">
  <div id="fiz" class="tab-pane fade {% if order.agency == null %}in active{% endif %}">
{% if form.buyer is defined %}
		<h3>Покупатель</h3> <button id="b2t" class="btn btn-success">Покупатель -> Турист</button>
		<br>
		<br>
		<div class="row">
			<div class="col-sm-1"><p style="text-align:right;">ФИО</p></div>
			<div class="col-sm-4">{{ form_widget(form.buyer.lastName, { 'attr':{'placeholder':'Фамилия'}}) }}</div>			
			<div class="col-sm-4">{{ form_widget(form.buyer.name, { 'attr':{'placeholder':'Имя'}}) }}</div>
			<div class="col-sm-3">{{ form_widget(form.buyer.fatherName, { 'attr':{'placeholder':'Отчество'}}) }}</div>

		</div>
		<div class="row" style="margin-top:10px">
			<div class="col-sm-1"><p style="text-align:right;">Адрес прописки</p></div>
			<div class="col-sm-11">{{ form_widget(form.buyer.address, { 'attr':{'placeholder':'Адрес прописки'}}) }}</div>			

		</div>
		<div class="row" style="margin-top:10px">
			<div class="col-sm-1"><p style="text-align:right;">Дата рождения<p></div>
			<div class="col-sm-3">{{ form_widget(form.buyer.birthday, { 'attr':{'placeholder':'Дата рождения'}}) }}</div>	
			<div class="col-sm-1">Паспорт</div>			
			<div class="col-sm-2">{{ form_widget(form.buyer.passSeria, { 'attr':{'placeholder':'Серия'}}) }}</div>
			<div class="col-sm-2">{{ form_widget(form.buyer.passNum, { 'attr':{'placeholder':'Номер'}}) }}</div>
			<div class="col-sm-3">{{ form_widget(form.buyer.passDate, { 'attr':{'placeholder':'Дата'}}) }}</div>
			
			
		</div>
		<div class="row" style="margin-top:10px">
			<div class="col-sm-1"><p style="text-align:right;">Кем выдан</p></div>
			<div class="col-sm-11">{{ form_widget(form.buyer.passWho, { 'attr':{'placeholder':'Кем выдан'}}) }}</div>	

			
			
		</div>
		<div class="row" style="margin-top:10px">
			<div class="col-sm-1"><p style="text-align:right;">Телефон<p></div>
			<div class="col-sm-3">{{ form_widget(form.buyer.phone, { 'attr':{'placeholder':'Телефон'}}) }}</div>	
			<div class="col-sm-1"><p style="text-align:right;">Email</p></div>			
			<div class="col-sm-3">{{ form_widget(form.buyer.email, { 'attr':{'placeholder':'email'}}) }}</div>

			<div class="col-sm-2"><a href="{{path('invoice_user',{'hash':order.idHash})}}" class="btn btn-success">Счёт покупателя</a></div>
			<div class="col-sm-1"><a href="{{path('contract_user',{'hash':order.idHash})}}" class="btn btn-success">Договор</a></div>
			
		</div>		
		
		
{% endif %}
  </div>
  <div id="ur" class="tab-pane fade {% if order.agency != null %}in active{% endif %}">
{% if form.agency is defined %}
{{form_row(form.agency, {'label':'Агентство'}) }}
{% endif %}

{% if order.agency != null %}
<a href="{{path('invoice_agency',{'hash':order.idHash})}}" class="btn btn-success">Счёт агентства</a>
{% endif %}

  </div>
</div>

{% if order.sesonDiscount != null %}
<div class="row" style="margin-top:10px">
	<div class="col-sm-12">
		Скидка раннего бронирования <b>{{order.sesonDiscount}} %</b>
	</div>
</div>
{% endif %}

{% if is_granted('ROLE_MANAGER') %}

<div class="row" style="margin-top:10px">
	<div class="col-sm-3">
	{% if form.sesonDiscount is defined %}
	{{ form_row(form.sesonDiscount, {'label':'Сезонная скидка'}) }}
	{% endif %}
	</div>
	<div class="col-sm-3">
	{% if form.permanentRequest is defined %}
	{{ form_row(form.permanentRequest, {'label':'Запрос на скидку постоянного клиента'}) }}
	<p style="color:red;"><i>Оплата онлайн будет возможна после подтверждения скидки менеджером.</i></p>
	{% else %}
	{% if form.vars.data.permanentRequest %} <p style="color:red;"><b>Есть запрос на скидку постоянного клиента</b></p> {% endif %}
	{% endif %}

	{% if form.permanentDiscount is defined %}
	{{ form_row(form.permanentDiscount, {'label':'Скидка постоянного клиента'}) }}
	{% endif %}
	</div>
	<div class="col-sm-3">
	{% if form.fee is defined %}
	{{ form_row(form.fee, {'label':'Коммиссия агентства'}) }}
	{% endif %}
	</div>
	<div class="col-sm-3">
	{% if form.region is defined %}
	{{ form_row(form.region, {'label':'Регион'}) }}
	{% endif %}
	</div>
</div>	
{% endif %}



<div class="row" style="margin-top:10px">

	<div class="col-sm-12">
	{% if form.permanentRequest is defined %}
	{{ form_row(form.permanentRequest, {'label':'Запрос на скидку постоянного клиента'}) }}
	<p style="color:red;"><i>Оплата онлайн будет возможна после подтверждения скидки менеджером.</i></p>
	{% endif %}

	</div>

</div>	


<h3>Каюты:</h3>

{% for orderItem in form.orderItems %}
 <div style="border:1px solid #aaa; margin-bottom:10px;">
   
	<div class="col-xs-12">
		<p {% if orderItem.vars.data.typeDiscount != null %} style="color:red" {% endif %}><b>Каюта № {{orderItem.vars.data.room.number}} {{ orderItem.vars.data.room.cabin.type.name }}</b>&nbsp;&nbsp;&nbsp; {% if is_granted('ROLE_MANAGER') and orderItem.vars.data.otherPlaces.add  %}<a class="btn btn-warning add_place" href="{{path('invoice_add_place',{'hash':order.idHash,'room':orderItem.vars.data.room.id})}}">Добавить место в каюту</a>{% endif %} &nbsp;&nbsp;&nbsp; {% if is_granted('ROLE_MANAGER') %} <a class="btn btn-warning add_place" href="{{path('invoice_add_place',{'hash':order.idHash,'room':orderItem.vars.data.room.id,'type':'add'})}}">Добавить доп место в каюту</a>&nbsp;&nbsp;&nbsp;<a class="btn btn-warning add_place" href="{{path('invoice_add_place',{'hash':order.idHash,'room':orderItem.vars.data.room.id,'type':'without'})}}">Добавить пассажира без места в каюту</a>&nbsp;&nbsp;&nbsp;<a class="btn btn-danger del_room" href="{{path('invoice_remove_room',{'hash':order.idHash, 'orderitem':orderItem.vars.data.id})}}">Удалить каюту</a> {% endif %}</p>
	</div>
	
	
	{% for i, orderItemPlace in orderItem.orderItemPlaces %}
		<div style="border:1px solid #aaa;">
		<div class="col-xs-6">
			<p><b>Место {{i+1}}</b>&nbsp;&nbsp;&nbsp; {{orderItemPlace.vars.data.typePlace.name}} </p>
		</div>
		<div class="col-xs-6">
			<p> <a href="{{path('boarding_card',{'hash':orderItemPlace.vars.data.idHash})}}" class="btn btn-success">Посадочный талон</a>&nbsp;&nbsp;&nbsp; {% if is_granted('ROLE_MANAGER') and (orderItem.vars.data.otherPlaces.remove or orderItemPlace.vars.data.typePlace.code != 'main') %}<a class="btn btn-danger del_place" href="{{path('invoice_remove_place',{'hash':order.idHash,'place':orderItemPlace.vars.data.id})}}">Удалить место</a>{% endif %}</p>
		</div>
		<div class="row">
			<div class="col-sm-1"><p style="text-align:right;">ФИО</p></div>
			<div class="col-sm-3">{{ form_widget(orderItemPlace.lastName, { 'attr':{'placeholder':'Фамилия'}}) }}</div>			
			<div class="col-sm-3">{{ form_widget(orderItemPlace.name, { 'attr':{'placeholder':'Имя'}}) }}</div>
			<div class="col-sm-3">{{ form_widget(orderItemPlace.fatherName, { 'attr':{'placeholder':'Отчество'}}) }}</div>
			<div class="col-sm-1"><p style="text-align:right;">Пол</p></div>
			<div class="col-sm-1">{{ form_widget(orderItemPlace.gender, { 'attr':{'placeholder':'Пол'}}) }}</div>

		</div>
		<div class="row" style="margin-top:10px">
			<div class="col-sm-1"><p style="text-align:right;">Дата рождения<p></div>
			<div class="col-sm-3">{{ form_widget(orderItemPlace.birthday, { 'attr':{'placeholder':'Дата рождения'}}) }}</div>	
			<div class="col-sm-2">{{ form_widget(orderItemPlace.typeDoc, { 'attr':{'placeholder':'Тип документа'}}) }}</div>			
			<div class="col-sm-1">{{ form_widget(orderItemPlace.passSeria, { 'attr':{'placeholder':'Серия'}}) }}</div>
			<div class="col-sm-2">{{ form_widget(orderItemPlace.passNum, { 'attr':{'placeholder':'Номер'}}) }}</div>
			<div class="col-sm-3">{{ form_widget(orderItemPlace.passDate, { 'attr':{'placeholder':'Дата'}}) }}</div>
			
			
		</div>
		<div class="row" style="margin-top:10px">
			<div class="col-sm-1"><p style="text-align:right;">Кем выдан</p></div>
			<div class="col-sm-11">{{ form_widget(orderItemPlace.passWho, { 'attr':{'placeholder':'Кем выдан'}}) }}</div>	

			
			
		</div>
		<div class="row" style="margin-top:10px; margin-bottom:10px;">

			<div class="col-sm-1">
				<p style="text-align:right;">Тариф</p>
				
			</div>
			<div class="col-sm-3">
				
				{% set discountValue = 0 %}
				{% if orderItemPlace.vars.data.orderItem.typeDiscount != null %}
				
					{% set discountValue = orderItemPlace.vars.data.orderItem.typeDiscount.value %}
	
				{% endif %}
				
				
				{% if orderItemPlace.price is defined %}
					{{ form_widget(orderItemPlace.price, {'attr':{'data-discount':discountValue, 'class':'tariff-price' }}) }}
				{% elseif orderItemPlace.priceValue is defined %}
					{{ form_widget(orderItemPlace.priceValue, {'attr':{'data-discount':discountValue, 'class':'tariff-price' }}) }}

				{% else %}
					{{orderItemPlace.vars.data.priceValue}}
				{% endif %}	
			</div>
			
			<div class="col-sm-3">
				{% if orderItemPlace.vars.data.orderItem.typeDiscount != null %}
					<span style="color:red;">Цена со скидкой <span class="tariff-price-value"></span></span>
				{% endif %}			
			</div>
			
			
			<div class="col-sm-2">
				{% if orderItemPlace.priceValue is defined %}
				{{ form_widget(orderItemPlace.priceValue) }}
				{% endif %}
			</div>			
			
			
			<div class="col-sm-1">
				Доплата
			</div>
			
			<div class="col-sm-2">
				{% if orderItemPlace.surcharge is defined %}
				{{ form_widget(orderItemPlace.surcharge) }}
				{% else %}
				{{orderItemPlace.vars.data.surcharge * 1}}
				{% endif %}
			</div>
			
		</div>
		
		
		
		
		</div>
	{% endfor %}
</div>	
{% endfor %}



{% for serviceForm in form.service %}
	<div style="border:1px solid #aaa; margin-bottom:10px; padding-top:10px;" >
		<div class="col-sm-12">
			Дополнительная услуга
			{% if is_granted('ROLE_MANAGER') %}
				&nbsp;&nbsp;&nbsp;<a class="btn btn-danger del_service" href="{{path('invoice_remove_service',{'hash':order.idHash, 'service':serviceForm.vars.data.id})}}">Удалить сервис</a>
			{% endif %}
			
			<br>
			
		</div>	
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-10">
					{% if serviceForm.name is defined %}
						{{ form_widget(serviceForm.name) }}
					{% else %}
						{{serviceForm.vars.data.name}} 				
					{% endif %}
				</div>
				<div class="col-sm-2">
					{% if serviceForm.priceValue is defined %}
						{{ form_widget(serviceForm.priceValue) }}
					{% else %}
						{{serviceForm.vars.data.priceValue}} руб.
					{% endif %}
				</div>
				<div class="col-sm-2">
					{% if serviceForm.isFee is defined %}
						{{ form_widget(serviceForm.isFee) }}
					{% endif %}
				</div>
				<div class="col-sm-2">
					{% if serviceForm.isPermanentDiscount is defined %}
						{{ form_widget(serviceForm.isPermanentDiscount) }}
					{% endif %}
				</div>
				<div class="col-sm-2">
					{% if serviceForm.isSesonDiscount is defined %}
						{{ form_widget(serviceForm.isSesonDiscount) }}
					{% endif %}
				</div>	
			</div>
		</div>
	</div>	
{% endfor %}



{% if form.commentManager is defined %}
{{ form_row(form.commentManager, {'label':'Комментарий Менеджера'}) }}
{% endif %}

{% if form.commentUser is defined %}
{{ form_row(form.commentUser, {'label':'Комментарий Пользователя'}) }}
{% endif %}




<div class="row">
	<div class="col-sm-2">Сумма<br> {{orderPrice.itogo.price | number_format(2, '.', ' ')}}</div>
	<div class="col-sm-2">Скидка<br> {{orderPrice.itogo.discount | number_format(2, '.', ' ')}}</div>
	<div class="col-sm-2">Сумма со скидкой<br> {{orderPrice.itogo.priceDiscount | number_format(2, '.', ' ')}}</div>
	<div class="col-sm-2">Оплачено<br> {{orderPrice.itogo.pay | number_format(2, '.', ' ')}}</div>
{% if (order.user.agency != null) or is_granted('ROLE_MANAGER') %}
	{% if (order.agency != null) %}
		<div class="col-sm-2">Агентское вознаграждение<br> {{orderPrice.itogo.fee_summ | number_format(2, '.', ' ')}}</div>
		<div class=" col-sm-2">За вычетом агентского вознаграждения <br>{{ ( orderPrice.itogo.priceDiscount - orderPrice.itogo.fee_summ ) | number_format(2, '.', ' ')}}</div>
	{% endif %}	
{% endif %}	
</div>	
<div class="row">
{% for tariffName,count in orderPrice.itogo.tariffs %}
	<div class="col-sm-12">{{tariffName}} - {{count}}</div>
{% endfor %}	

</div>
<br>



{{ form_row(form.submit, {'label':'Сохранить', 'attr':{'class':'btn btn-primary'}}) }}

{{ form_end(form) }}


{% if (order.user.agency == null) and (allow_pay) %}
	<a href="{{path('pay',{'hash':order.idHash})}}" class="btn-success btn">Оплатить</a>

{% else %}
<p>Для оплаты онлайн необходимо заполнить все поля</p>	
	
{% endif %}


{% if is_granted('ROLE_MANAGER') %}
<p>Добавить каюту</p>
<select name="" id="add_room_select">
{% for cabin in cabins %}
	{% for placeName,price in cabin.price  %}
		{% for room in cabin.rooms  %}
			<option data-room-id="{{room.id}}" data-place-id="{{price}}" value="{{room.id}}-{{price}}">{{room.number}} {{placeName}}</option>
		{% endfor %}
	{% endfor %}
{% endfor %}
</select>
&nbsp;
<button class="btn btn-warning add_room">Добавить каюту</button>
&nbsp;
<a href="{{path('invoice_add_service',{'hash':order.idHash})}}" class="btn btn-warning add_service">Добавить сервис</a>


{% endif %}

{% endblock %}


{% block javascriptsonload %}
	$('.tariff-price').change(function(){
		discount = $(this).attr('data-discount');
		if( discount > 0)
		{
			price = $(this).find('option:selected').attr('data-price');
			price_discount = price * (100- discount) / 100;
			span_price = $(this).parent().parent().find('.tariff-price-value');
			span_price.text(price_discount);
		}

	});
	
	$('.tariff-price').trigger('change');
	
	$('.del_service').click(function(){
		if (!confirm("Удалить?")) return false;
	});		
	$('.del_place').click(function(){
		if (!confirm("Удалить?")) return false;
	});	
	$('.add_place').click(function(){
		if (!confirm("Добавить?")) return false;
	});	
	$('.add_service').click(function(){
		if (!confirm("Добавить?")) return false;
	});

	$('.del_room').click(function(){
		if (!confirm("Удалить?")) return false;
	});
	$('.add_room').click(function(){
		if (!confirm("Добавить?")) return false;
		roomId = $('#add_room_select option:selected').attr('data-room-id');
		placeId = $('#add_room_select option:selected').attr('data-place-id');
		document.location.replace("{{path('invoice_add_room',{'hash':order.idHash})}}?room="+roomId+"&place="+placeId);
	});	
	
	
	
	$('#b2t').click(function(){
		$('input#cruisebundle_ordering_orderItems_0_orderItemPlaces_0_lastName').val($('input#cruisebundle_ordering_buyer_lastName').val());
		$('input#cruisebundle_ordering_orderItems_0_orderItemPlaces_0_fatherName').val($('input#cruisebundle_ordering_buyer_fatherName').val());
		$('input#cruisebundle_ordering_orderItems_0_orderItemPlaces_0_name').val($('input#cruisebundle_ordering_buyer_name').val());
		
		
		$('input#cruisebundle_ordering_orderItems_0_orderItemPlaces_0_passSeria').val($('input#cruisebundle_ordering_buyer_passSeria').val());
		$('input#cruisebundle_ordering_orderItems_0_orderItemPlaces_0_passNum').val($('input#cruisebundle_ordering_buyer_passNum').val());
		$('input#cruisebundle_ordering_orderItems_0_orderItemPlaces_0_passWho').val($('input#cruisebundle_ordering_buyer_passWho').val());
		
		$("select#cruisebundle_ordering_orderItems_0_orderItemPlaces_0_birthday_day [value='"+$('select#cruisebundle_ordering_buyer_birthday_day :selected').val()+"']").attr("selected", "selected");
		$("select#cruisebundle_ordering_orderItems_0_orderItemPlaces_0_birthday_month [value='"+$('select#cruisebundle_ordering_buyer_birthday_month :selected').val()+"']").attr("selected", "selected");
		$("select#cruisebundle_ordering_orderItems_0_orderItemPlaces_0_birthday_year [value='"+$('select#cruisebundle_ordering_buyer_birthday_year :selected').val()+"']").attr("selected", "selected");
		
		$("select#cruisebundle_ordering_orderItems_0_orderItemPlaces_0_passDate_day [value='"+$('select#cruisebundle_ordering_buyer_passDate_day :selected').val()+"']").attr("selected", "selected");
		$("select#cruisebundle_ordering_orderItems_0_orderItemPlaces_0_passDate_month [value='"+$('select#cruisebundle_ordering_buyer_passDate_month :selected').val()+"']").attr("selected", "selected");
		$("select#cruisebundle_ordering_orderItems_0_orderItemPlaces_0_passDate_year [value='"+$('select#cruisebundle_ordering_buyer_passDate_year :selected').val()+"']").attr("selected", "selected");
		
		
	});
	

{% endblock %}	

