{% extends '::base.html.twig' %}

{% block body %}

{#{dump(orders)}#}



{% if app.user.agency != null %}

<div class="row" style="background:#fff; margin-bottom:10px;"> 
{{ form_start(formOrder) }}	
<div class="col-sm-2">
{{ form_row(formOrder.ship) }}	
</div>	
<div class="col-sm-2">
{{ form_row(formOrder.oplata) }}	
</div>	
		
<div class="col-sm-2">
{{ form_row(formOrder.order) }}	
</div>	


<div class="col-sm-2">
{{ form_row(formOrder.submit) }}	
</div>
{{ form_end(formOrder) }}
</div>

{% endif %}

{% for order in orders %}
	<div class="row" style="background:#fff; margin-bottom:10px;"> 
		
		
		
		<div class="col-sm-1"><a href="{{path('invoice',{'hash':order.idHash})}}">№{{order.id}}</a></div>
		<div class="col-sm-1">{{order.created | date("d.m.Y")}}</div>
		<div class="col-sm-2">{{order.cruise.ship.name}}</div>
		
		<div class="col-sm-2">
		{{order.cruise.startDate | date('d.m.y')}} - {{order.cruise.endDate | date('d.m.y')}}
		</div>	
	
		
		<div class="col-sm-1">			
			{% for orderItem in order.orderItems %}
				Каюта {{orderItem.room.number}} <br>
			{% endfor %}
		</div>
		
		
		<div class="col-sm-1">
		
		{% if (order.orderPrice.itogo.priceDiscount - order.orderPrice.itogo.fee_summ ) | round(2) == order.orderPrice.itogo.pay | round(2)%}
		<span style="color:red; font-weight:700;">{{(order.orderPrice.itogo.priceDiscount - order.orderPrice.itogo.fee_summ )| number_format(2, '.', ' ')}}</span>
		<br>оплачен
		{% elseif ((order.orderPrice.itogo.priceDiscount - order.orderPrice.itogo.fee_summ ) | round(2)  < order.orderPrice.itogo.pay | round(2)) and (order.orderPrice.itogo.pay > 0) %}
		<span style="color:#f0f; font-weight:700;">{{(order.orderPrice.itogo.priceDiscount - order.orderPrice.itogo.fee_summ )| number_format(2, '.', ' ')}}</span>
		<br>переплата 	{{( order.orderPrice.itogo.pay - (order.orderPrice.itogo.priceDiscount - order.orderPrice.itogo.fee_summ )) | number_format(2, '.', ' ')}}
		{% elseif ((order.orderPrice.itogo.priceDiscount - order.orderPrice.itogo.fee_summ ) | round(2) > order.orderPrice.itogo.pay | round(2)) and (order.orderPrice.itogo.pay > 0) %}
		<span style="color:#ffb300; font-weight:700;">{{(order.orderPrice.itogo.priceDiscount - order.orderPrice.itogo.fee_summ )| number_format(2, '.', ' ')}}</span>
		<br>остаток 	{{((order.orderPrice.itogo.priceDiscount - order.orderPrice.itogo.fee_summ ) - order.orderPrice.itogo.pay) | number_format(2, '.', ' ')}}
		{% else %}
		{{(order.orderPrice.itogo.priceDiscount - order.orderPrice.itogo.fee_summ )| number_format(2, '.', ' ')}}
		{% endif %}
		</div>
		<div class="col-sm-1">
			 создал:<br>
			{% if (order.user.firstName != null) and (order.user.firstName != "") %}
				{{order.user.lastName}} {{order.user.firstName}} {{order.user.fatherName}}
			{% else %}
				{{order.user.username}}	
			{% endif %}			
		</div>
		<div class="col-sm-3">покупатель: <br>
			{% if order.agency != null %}
				{{order.agency.name}}
			{% elseif order.buyer != null %}
				{{order.buyer.lastName}} {{order.buyer.name}} {{order.buyer.fatherName}}
			{% endif %}
		<br>
		<a class="btn btn-success del_order" href="{{path('invoice_del',{'hash':order.idHash})}}">Удалить</a>		
		
		</div>

	</div>
{% endfor %}

{% endblock %}

{% block javascriptsonload %}
	$('body').on('click','.del_order',function(){
		if (!confirm("Удалить?")) return false;
		return true;
	});
{% endblock %}	